/* style.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(''); /* 背景画像のURLを指定 */
    background-size: cover; /* 画像がページ全体に拡大 */
    background-position: center center; /* 画像をページの中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4 {
    text-align: left;
    color: #333;
}

h1 {
    margin-top: 40px;
}




#search-container {
    flex-direction: center;
}

#search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
   }

#search-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-left: 10px;
}

#search-button:hover {
    background-color: #0056b3;
}


.search-result {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#button-container {
    text-align: center;
    margin: 20px 0;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: #555;
    line-height: 1.6;
    margin: 10px 20px;
}
#action-result {    text-align: center;
    margin: 20px 0;
}
@media (max-width: 768px) {
    #search-results {
        width: 90%;
    }
    #search-input {
        width: 70%;
    }
    .button {
        width: 80%;
        display: block;
        margin: 10px auto;
    }
}
/* styles.css */
/* h2 見出しのスタイル */
h2 {
    font-size: 24px; /* フォントサイズ */
    color: #333; /* テキストカラー */
    margin-bottom: 20px; /* 下の余白 */
}
/* p タグのスタイル */
p {
    font-size: 18px; /* フォントサイズ */
    color: #090909; /* テキストカラー */
    line-height: 1.6; /* 行間の設定 */
    margin-bottom: 10px; /* 下の余白 */
    text-align: left;
}
/* h3 見出しのスタイル */
h3 {
    font-size: 24px; /* フォントサイズ */
    color: #444; /* テキストカラー */
    margin-top: 30px; /* 上の余白 */
    margin-bottom: 10px; /* 下の余白 */
}

h4{
    font-size: 24px;
    color: #090909;
    margin-top: 30px;
    margin-bottom: 10px;
}
.pickup-container {
    text-align: left;
}

.pickup-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.pickup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.pickup-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.pickup-item img {
    width: 100%;
    height: auto;
}
    
.announcement {
    background-color: white;
    border: 2px solid #f43434; /* 四角の枠線 */
    border-radius: 8px; /* 角を丸くする（任意） */
    padding: 15px;
    margin: 20px left;
    max-width: 600px; /* 最大幅を指定（任意） */
    text-align: center; /* テキストを中央に配置 */

}

.announcement h3 {
    margin: 0;
    color: #f10707; /* 枠線と同じ色 */
}

.announcement p {
    margin: 10px 0 0;
    color: #333; /* テキストの色 */
}
.pickup-item h3 {
    font-size: 1.0em;
    margin: 15px 0;
}